{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3  class="text-center">Черновое вычисление</h3>

         <div class="form-group">
            <label class="form-label">Первое число</label>
            {% if calculation.number %}
                <input placeholder="Введите первое число" disabled type="text" class="form-control" style="width: 250px" value="{{ calculation.number }}">
            {% else %}
                <input placeholder="Введите первое число" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

        <form method="post" action="{% url 'delete_calculation' calculation.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-calculation-btn" type="submit">
                    Удалить
                </button>
            </a>
        </form>

        <h4 class="text-center">Операции</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for operation in calculation.get_operations %}

                {% include "operation_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}