{% load static %}

{% if "http://localhost:9000/rip/" in request.build_absolute_uri or "http://127.0.0.1:9000/rip/" in request.build_absolute_uri %}
    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
               <img src="{{ operation.image_url }}">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ operation.name }}</h5>
                    <p class="card-text">Параметров: {{ operation.parameters }}</p>
                    <div class="form-group">
                        <label class="form-label">Второе число</label>
                        {% if operation.value %}
                            <input placeholder="Введите второе число" disabled type="text" class="form-control" style="width: 250px" value="{{ operation.value }}">
                        {% else %}
                            <input placeholder="Введите второе число" disabled type="text" class="form-control" style="width: 250px">
                        {% endif %}
                    </div>
                    <a href="/operations/{{ operation.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
         </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-body" >
            <div class="card-info" style="margin-bottom: 20px;" >
                {% if operation.number %}
                    <h5 class="card-title" > НОД(a, {{ operation.number }})</h5>
                {% else %}
                    <h5 class="card-title">{{ operation.name }}</h5>
                {% endif %}
                <p class="card-text">Параметр: {{ operation.number }}</p>
            </div>
        </div>
    </div>
{% endif %}