<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basket_style.css' %}"> 
    <section class="calculator-section">
        <header class="header">
            <div class="logo-small">
                <img loading="lazy" src="{{ data.logo1 }}" class="logo-icon-small" alt="" />
                <form action="{% url 'home_page_url' %}" method="get">
                <button class="logo-text-small" type="submit" >
                    <span class="red-text">Вычислитель</span>
                    <span class="orange-text">Онлайн</span>
                </button>
                </form>
            </div>
        </header>
      
        <h2 class="main-title">Формирование вычислений</h2>
        <h4 class="description-creator">Создатель заявки: Андреев Валерий Павлович</h4>
      
    <div class="calculator-container">
        <p class="description">
            Необходимо
            <br/>
            два числа
        </p>
        {% for service in data.services %}
            <div class="calculator-item">
                <div class="calculator-card">
                    <img loading="lazy" src="{{ service.image }}" class = "logo" alt="Calculator information" />
                    <span class="calculator-function">{{ service.title }}</span>
                    <form action="{% url 'service_url' service.id %}" method="get">
                        <button class="info-card-button" type="submit">Подробнее</button>
                    </form>
                </div>
                <input type="checkbox" class="custom-checkbox" id="{{ service.id }}">
                <label for="{{ service.id }}"></label>
            </div>
        {% endfor %}
    </div>
    </section>
</html>