<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order_style.css' %}">
<section class="calculator-container">
    <header class="header">
        <div class="logo-small">
            <img loading="lazy" src="{{ data.logo1 }}" class="logo-icon-small" alt="" />
            <form action="{% url 'home_page_url' %}" method="get">
            <button class="logo-text-small" type="submit" >
                <span class="red-text">Вычислитель</span>
                <span class="orange-text">Онлайн</span>
            </button>
            </form>
        </div>
    </header>
      
    <main class="main-content">
    <div class="content-wrapper">
        <div class="factorial-symbol">
            <img loading="lazy" src="{{ data.info.image }}" class = "logo" alt="Calculator information" />
        </div>
        <div class="factorial-description">
            <div class="description-wrapper">
                <h2 class="title">{{ data.info.title }}</h2>
                <p class="description">
                    {{ data.info.description }}
                </p>
            </div>
        </div>
    </div>
    </main>
</section>
</html>
