<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<section class="calculator-section">
    <header class="header-container">
      <div class="logo-search-container">
        <div class="logo-search-wrapper">
          <div class="logo-small">
            <img loading="lazy" src="{{ data.logo1 }}" class="logo-icon-small" alt="" />
            <form action="{% url 'home_page_url' %}">
            <button class="logo-text-small" type="submit">
              <span class="red-text">Вычислитель</span>
              <span class="orange-text">Онлайн</span>
            </button>
            </form>
          </div>
          <div class="logo-large">
            <img loading="lazy" src="{{ data.logo2 }}" class="logo-icon-large" alt="" />
            <div class="logo-text-large">
              <span class="red-text">Вычислитель</span>
              <span class="orange-text">Онлайн</span>
            </div>
          </div>
        </div>
        <form action="" method="get" class="search-area">
            <input class="search-input" placeholder="Поиск..." aria-label="Поиск" name="query" type="text" value="{{ data.search_query }}">
        </form>
      </div>
    </header>
    <main class="calculator-grid">
        <div class="calculator-row">
            {% if data.count == 8 %}
              {% for service in data.services %}
                  {% if service.id == 5 %}
                      </div>
                      </div>
                      </div>
                      </div>
                  {% endif %}
                  {% if service.id == 1 or service.id == 5 %}
                      {% if service.id == 1 %}
                      <div class="calculator-column1">
                      {% endif %}
                      {% if service.id == 5 %}
                      <div class="calculator-column2">
                      {% endif %}
                          <div class="calculator-group">
                              <div class="calculator-subgroup">
                  {% endif %}
                  {% if service.id == 3 or service.id == 7 %}
                      </div>
                  {% endif %}
                  {% if service.id == 1 or service.id == 3 or service.id == 5 or service.id == 7 %}
                      <div class="calculator-item">
                  {% endif %}
                  <div class="calculator-card">
                      <img loading="lazy" src=" {{ service.image }} " class = "logo" alt="Calculator information" />
                      <span class="calculator-function">{{ service.title }}</span>
                      <form action="{% url 'service_url' service.id %}" method="get">
                      <button class="info-card-button" type="submit">Подробнее</button>
                      </form>
                  </div>
              {% empty %}
                  <li>Список пуст</li>
              {% endfor %}
              </div>
              </div>
              </div>
              </div>
            {% else %}
              <div class="search-items-section">
                <p class="description">
                  Результаты
                  <br/>
                  &emsp;поиска
                </p>
              {% for service in data.services %}
                <div class="calculator-card">
                  <img loading="lazy" src=" {{ service.image }} " class = "logo" alt="Calculator information" />
                  <span class="calculator-function">{{ service.title }}</span>
                  <form action="{% url 'service_url' service.id %}" method="get">
                  <button class="info-card-button" type="submit">Подробнее</button>
                  </form>
                </div>
              {% endfor %}
              </div>
            {% endif %}
        </div>
      </div>
    </main>
  </section>
  <div class="info-card">
    <img loading="lazy" src="{{ data.basket_logo }}" class="info-card-image" alt="Calculator information" />
    <form action="{% url 'calculation' data.calculation_id %}" method="get">
        <button class="info-card-button" type="submit">Вычисления(4)</button>
    </form>
  </div>
  </html>